doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover')
    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')
    meta(name='theme-color' content='#000000')
    meta(http-equiv='Content-Security-Policy' content="default-src * 'self' 'unsafe-inline' 'unsafe-eval' data: gap:")
    title Newsman
    link(rel='stylesheet' href='css/framework7.bundle.min.css')
    link(rel='stylesheet' href='css/app.css')
    link(rel='apple-touch-icon' href='img/f7-icon-square.png')
    link(rel='icon' href='img/f7-icon.png')
  body.theme-dark.color-theme-white
    #app
      .view.view-main.view-init.safe-areas(data-master-detail-breakpoint='800' data-url='/')
        .page.page-home
          .page-content
            .homepage-header
              .newsman-page-gradient
              // Navbar
              .navbar.navbar-transparent.safe-areas
                .navbar-bg
                .navbar-inner
                  .left  
                  .right
                    a.link.icon-only
              // Today news
              .newsman-block
                .newsman-block-title.display-flex.align-items-center.justify-content-space-between
                  div
                    .block-title-medium.no-margin.block-title.text-semibold Today News
                    .newsman-opacity.block-title.no-margin.newsman-block-subtitle Read trending news
                  .newsman-badge
                    a.badge.bg-color-white.text-color-black(href='#') SEE ALL
                .newsman-block-content
                  .swiper-container.list-posts-full-bg-swipper
                    .swiper-wrapper
                      // Slide
                      each val, index in part1
                        .swiper-slide(data-color='rgb(214, 63, 168)')
                          // POST FULL BG
                          .post-full-bg
                            .post-content.margin-top.display-flex.flex-direction-column.justify-content-flex-end.newsman-object-fit
                              img(src=val.image alt='1')
                              .post-title
                                a(href='/single/')
                                  h2.no-margin-bottom= val.title
                         
                          .newsman-block
                            .newsman-block-title.display-flex.align-items-center.justify-content-space-between
                              div
                                .block-title-medium.no-margin.block-title.text-semibold Hot topics
                                .newsman-opacity.block-title.no-margin.newsman-block-subtitle Read trending news
                              .newsman-badge
                                a.badge.bg-color-white.text-color-black(href='#') SEE ALL
                            .newsman-block-content
                              .blog-list-wrapper
                                each val, index in part2
                                  .blog-list.display-flex.align-items-start.flex-direction-row-reverse
                                    .blog-list-img.newsman-object-fit
                                      img(src='./img/09.jpg' alt='bl1')
                                    .blog-list-infos.margin-right.margin-top
                                      h2.margin-bottom-half.no-margin-top
                                        a(href='/single/')=val.title
                                           
                                      span Sience . 26 May, 2020
                          // World News TV
                          .newsman-block.no-border
                            .newsman-block-title.display-flex.align-items-center.justify-content-space-between
                              div
                                .block-title-medium.no-margin.block-title.text-semibold World News TV
                                .newsman-opacity.block-title.no-margin.newsman-block-subtitle Read trending news
                              .newsman-badge
                                a.badge.bg-color-white.text-color-black(href='#') SEE ALL
                            .newsman-block-content
                              #masonry
                                .masonry-item
                                  img.masonry-img(src='./img/04.jpg' alt='m1')
                                  .post-title
                                    a(href='/single/')
                                      h2.no-margin-bottom Refreshing Spring Fashion Trends You Can Wear
                          // / section
                          // FIX F7
                          #fix-f7
                          // /FIX F7
                          // Toolbar
                          // /Toolbar
    script(src='js/macy.js')
    script(src='js/feather.min.js')
    script(src='js/framework7.bundle.min.js')
    script(src='js/routes.js')
    script(src='js/app.js')
